.loginPageContainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  min-height: 100vh;       /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%;             /* Ocupa el 100% del ancho */
}
.panelLogin {
    background-color: #f0f0f0;
    width: 20%;
    height: 25%;
    display: flex;             /* Paso 1: Activa Flexbox */
    flex-direction: column;    /* Opcional: Organiza los elementos en columna */
    justify-content: center;   /* Paso 2: Centra los elementos verticalmente */
    align-items: center;       /* Paso 3: Centra los elementos horizontalmente */
}

.panelLogin .formLogin {
    background-color: #a32929;
}